{% extends 'manager_card/base.html' %}
{% load static %}
{% block content %}
    <p>Серия карты: {{ card.card_series }}</p>
    <p>Номер карты: {{ card.card_number }}</p>
    <ul><a href="{% url 'manager_card:delete' card.card_number %}"> Удалить карту</a></ul>
    <p>Выпущена: {{ card.date_of_issue|date:"D d M Y" }} {{ card.date_of_issue|time:"H:i" }}</p>
    <p>Годна до: {{ card.activity_end_date|date:"D d M Y" }} {{ card.activity_end_date|time:"H:i" }}</p>
    <ul>история использования</ul>
    <ul>===============</ul>
    {% for i in card.date_of_use.items  %}
        <ul>{{ i|join:" >>> " }}</ul>
    {% endfor %}
    <p>Остаток: {{ card.amount_on_card }}</p>
    {% include 'manager_card/includes/card_status_rele.html' %}
    {% block js %}
    <script src="{% static 'js/card_status_rele_detail.js' %}"></script>
    {% endblock %}
{% endblock content %}