{% extends 'manager_card/base.html' %}
{% load static %}
    {% block content %}
    {% if cards %}
    {% for card in cards %}
    <li>Номер карты: <a href="{% url 'manager_card:card_detail' card.card_number %}">{{ card.card_number }}</a></li>
    <ul>Из серии: {{ card.card_series }}</ul>
    <ul>Выпущена: {{ card.date_of_issue|date:"D d M Y" }} {{ card.date_of_issue|time:"H:i" }}</ul>
    <ul>Годна до: {{ card.activity_end_date|date:"D d M Y" }} {{ card.activity_end_date|time:"H:i" }}</ul>
    <ul>Остаток: {{ card.amount_on_card }}</ul>


    <ul>
            {% include 'manager_card/includes/card_status_rele.html' %}
        <br> 
        <ul><a href="{% url 'manager_card:delete' card.card_number %}"> Удалить карту</a></ul>
    </ul>
    <hr>
    {% endfor %}
    {% else %}
    <p>Нет ни одной карты</p>
    {% endif %}
    {% if cards %}
        <nav class="list-pages">
            <p>Пагинация</p>
            <ul>
                {% if page_obj.has_previous %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                    </li>
                {% endif %}
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-num page-num-selected">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %} 
                        <li class="page-num">
                            <a href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    {% block js %}
        <script src="{% static 'js/card_status_rele_list.js' %}"></script>
    {% endblock %}
    {% endblock content %}
