    <p>Активна: <b id="st">{{ card.card_status|lower }}</b></p>
    {% if card.card_status %}
        <div id="switcch_el">
            <a id="switch"href="#!" style="color: red;" cardnumber="{{ card.card_number }}">
                Дективировать карту
            </a>
        </div>
    {% else %}
        <div id="switcch_el">
            <a id="switch" href="#!" style="color: green;" cardnumber="{{ card.card_number }}">
                Активировать карту
            </a>
        </div>
    {% endif %}
    